#!/bin/bash

exec java -Djava.security.egd=file:/dev/./urandom -Dspring.datasource.password={{ mysql_root_pass }} -Dspring.datasource.url=jdbc:mysql://127.0.0.1/{{ mysql_database }} -Dopenvidu.url=https://$1:4443 -Dserver.port=5001 -jar /var/www/html/classroom/classroom-demo.jar

