[supervisord]
nodaemon=true
logfile=/var/log/supervisor/supervisord.log
pidfile=/var/run/supervisord.pid
loglevel=debug

[program:openvidu-server]
{% if letsencrypt == 'Yes' %}
command=java -jar -Dopenvidu.publicurl=https://{{ domain_name }}:8443 -Dserver.port=5443 /opt/openvidu/openvidu-server.jar
{% else %}
command=java -jar -Dopenvidu.publicurl=https://{{ aws_public_ip }}:8443 -Dserver.port=5443 /opt/openvidu/openvidu-server.jar
{% endif %}

[program:js-java]
{% if letsencrypt == 'Yes' %}
command=/bin/bash /var/www/html/basic-webinar/app.sh {{ domain_name }}
{% else %}
command=/bin/bash /var/www/html/basic-webinar/app.sh {{ aws_public_ip }}
{% endif %}
redirect_stderr=true

[program:classroom-demo]
{% if letsencrypt == 'Yes' %}
command=/bin/bash /var/www/html/classroom/app.sh {{ domain_name }}
{% else %}
command=/bin/bash /var/www/html/classroom/app.sh {{ aws_public_ip }}
{% endif %}
redirect_stderr=true
