#!/bin/bash

PUBLIC_HOSTNAME=$(curl http://169.254.169.254/latest/meta-data/public-hostname)
PUBLIC_IP=$(curl http://169.254.169.254/latest/meta-data/public-ipv4)
TURN_USER={{ turn_user }}
TURN_PASSWORD="{{ turn_password }}"

systemctl stop kurento-media-server
systemctl stop coturn
systemctl stop nginx
sleep 5
cat /etc/turnserver.conf | grep -v external-ip >/tmp/turnserver.conf
echo "external-ip=${PUBLIC_IP}" >> /tmp/turnserver.conf
mv /tmp/turnserver.conf /etc/turnserver.conf

cat /etc/kurento/modules/kurento/WebRtcEndpoint.conf.ini | grep -v stunServerAddress > /tmp/WebRtcEndpoint.conf.ini
echo stunServerAddress=${PUBLIC_IP} >> /tmp/WebRtcEndpoint.conf.ini
mv /tmp/WebRtcEndpoint.conf.ini /etc/kurento/modules/kurento/WebRtcEndpoint.conf.ini

cat >/etc/nginx/sites-enabled/kms-ov<<EOF
server {
    listen {{ openvidu_port }} ssl;
    server_name ${PUBLIC_HOSTNAME};

    ssl on;
    ssl_certificate /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;

    include sites-available/proxy.conf;

    location / {
        proxy_pass http://${PUBLIC_IP}:5443;
    }

}
EOF
sleep 5
systemctl start coturn
systemctl start kurento-media-server
systemctl start nginx

