#!/bin/bash

INXDB_URL=193.147.51.51
INXDB_DB=ov_server
INXDB_MEASUREMENT=server

OV_VERSION={{ openvidu_version }}
EC2_AVAIL_ZONE=$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone)
EC2_REGION=$(echo "$EC2_AVAIL_ZONE" | sed 's/[a-z]$//')

curl -i -XPOST "http://$INXDB_URL:8086/write?db=$INXDB_DB" \
  --data-binary "$INXDB_MEASUREMENT,region=$EC2_REGION ov_version=\"$OV_VERSION\" "
