server {
	listen {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:80
	server_name _;
	root /opt/openvidu;

	location /recordings {
		auth_basic "KMS Recordings Folder";
        auth_basic_user_file /etc/nginx/conf.d/kms.htpasswd;
	}
}