[supervisord]
nodaemon=true
logfile=/var/log/supervisor/supervisord.log
pidfile=/var/run/supervisord.pid
loglevel=debug

[program:openvidu-server]
{% if whichcert == "letsencrypt" or whichcert  == "owncert" %}
command=java -jar -Dopenvidu.secret="{{ openvidusecret }}" -Dserver.ssl.enabled=false -Dopenvidu.publicurl=https://{{ domain_name }}:8443 -Dserver.port=5443 /opt/openvidu/openvidu-server.jar
{% else %}
command=java -jar -Dopenvidu.secret="{{ openvidusecret }}" -Dserver.ssl.enabled=false -Dopenvidu.publicurl=https://{{ aws_public_hostname }}:8443 -Dserver.port=5443 /opt/openvidu/openvidu-server.jar
{% endif %}

