[Unit]
Description=Basic Webinar Service
After=network.target

[Service]
User=openvidu
Group=openvidu

ExecStart=/bin/bash /var/www/html/basic-webinar/app.sh localhost

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target