openvidu.secret={{ openvidu_secret }}
server.ssl.enabled=false
server.port=5443

openvidu.recording=true
openvidu.recording.public-access={{ openvidu_recording_public_access }}
openvidu.recording.notification={{ openvidu_recording_notification }}
openvidu.recording.autostop-timeout=0

openvidu.streams.video.max-recv-bandwidth={{ openvidu_streams_video_max_recv_bandwidth }}
openvidu.streams.video.min-recv-bandwidth={{ openvidu_streams_video_min_recv_bandwidth }}
openvidu.streams.video.max-send-bandwidth={{ openvidu_streams_video_max_send_bandwidth }}
openvidu.streams.video.min-send-bandwidth={{ openvidu_streams_video_min_send_bandwidth }}

openvidu.webhook={{ openvidu_webhook }}
openvidu.webhook.endpoint={{ openvidu_webhook_endpoint }}

openvidu.publicurl=
MY_UID=
openvidu.recording.composed-url=

kms.uris=["ws://localhost:8888/kurento"]

