openvidu.secret={{ openvidu_secret }}
server.ssl.enabled=false
server.port=5443

openvidu.recording=true
openvidu.recording.public-access={{ openvidu_recording_public-access }}
openvidu.recording.notification={{ openvidu_recording_notification }}

openvidu.streams.video.max-recv-bandwidth={{ openvidu_streams_video_max-recv-bandwidth }}
openvidu.streams.video.min-recv-bandwidth={{ openvidu_streams_video_min-recv-bandwidth }}
openvidu.streams.video.max-send-bandwidth={{ openvidu_streams_video_max-send-bandwidth }}
openvidu.streams.video.min-send-bandwidth={{ openvidu_streams_video_min-send-bandwidth }}

openvidu.pro.kibana.host=http://localhost/kibana
openvidu.pro.cluster={{ openvidu_pro_cluster }}
openvidu.pro.cluster.load.strategy={{ openvidu_pro_cluster_load_strategy }}

openvidu.webhook={{ openvidu_webhook }}
openvidu.webhook.endpoint={{ openvidu_webhook_endpoint }}

openvidu.publicurl=
MY_UID=
openvidu.recording.composed-url=

kms.uris=
