external-ip={{ aws_public_ip }}
listening-port=3478
fingerprint
lt-cred-mech
max-port=39999
min-port=15000
pidfile="/var/run/turnserver.pid"
realm=openvidu
simple-log
redis-userdb="ip=127.0.0.1 dbname=0 password=turn connect_timeout=30"
verbose