# !IMPORTANT Use external-ip if coturn is behind a NAT
# external-ip={{ aws_public_ip }}
listening-port=3478
fingerprint
lt-cred-mech
max-port=40000
min-port=65535
pidfile="/var/run/turnserver.pid"
realm=openvidu
simple-log
redis-userdb="ip=127.0.0.1 dbname=0 password=turn connect_timeout=30"
verbose